local-env


node_modules

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

music_controller/db.sqlite3
music_controller/frontend/static/frontend
music_controller/db.sqlite3
music_controller/api/__pycache__/urls.cpython-38.pyc
music_controller/api/__pycache__/views.cpython-38.pyc
music_controller/frontend/static/frontend/main.js
music_controller/frontend/static/frontend/main.js.LICENSE.txt
